body {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #fff), linear-gradient(70deg, #dbedff 32%, #ebfff0) !important;
    background-size: 100%;
}

.btn-exit {
    margin-left: 5px;
}

#logo {
    margin-left: 20px;
    width: 30%;
    border-radius: 100px;
}

.footer-list {
    width: 100%;
    justify-content: space-between;
}

.right-item {
    margin-left: auto;
}

.card {
    margin-top: 45px;
}

.card-img-top {
    /* font-size: 8rem; */
    margin-top: 20px;
    color: #888787;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* 
.fade:not(.show) {
    display: none;
} */

a {
    color: grey;
    background-color: transparent;
}

.nav-tabs .nav-link {
    color: black;
    border: 1px solid grey;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card {
    color: black;
    background-color: #eefcfc;
    border: 2px solid #888787;
}

.card-title {
    border-bottom: 1px solid grey;
}

footer {
    margin-top: 70px;
}

.navbar-brand {
    padding: 0;
}

button {
    border-radius: 9px;
}

.form-inline {
    margin-left: auto;
}

.mb-2, .my-2 {
    margin: 0 !important;
}

.alert-secondary {
    color: #383d41;
    background-color: transparent !important;
    border-color: transparent !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.shadow-lg {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.175) !important;
}

.col-lg-3, .col-md-4, .col-sm-6 {
    padding: 0 !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 !important;
}
