body {
    background-color: #f5f8fa;
}

.btn-exit {
    margin-left: 5px;
}

#logo {
    width: 40%;
    border-radius: 100px;
}

.footer-list {
    width: 100%;
    justify-content: space-between;
}

.right-item {
    margin-left: auto;
}

.card {
    margin-top: 45px;
}

.fas {
    font-size: 8rem;
    margin-top: 20px;
    color: grey;
}
